<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script
      type="text/javascript"
      src="https://static.facilio.com/apps-sdk/latest/facilio_apps_sdk.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/chart.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data-10-year-range.js"></script>
  </head>
  <style>
    .loader {
      margin-top: 5vh;
      margin-left: 45vw;
      margin-right: 45vw;
      width: 42px;
      height: 42px;
      border: 4px solid #ff3184;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    .emptyPgContent {
      color: #324056;
      font-family: "Aktiv-Grotesk", Helvetica, Arial, sans-serif;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 0.5px;
      line-height: 25px;
    }
  </style>
  <body>
    <div id="app">
      <span v-if="loading" class="loader"></span>
      <div :style="[isShowChart?{display:'none'}:null]">
        <div
          id="chart-container"
          style="
            position: relative;
            width: 80vw;
            height: 80vh;
            margin: auto;
            margin-top: 10vh;
          "
        >
          <canvas id="Chart"></canvas>
        </div>
      </div>
      <div v-if="isShowEmptyPage">
        <div style="text-align: center">
          <img
            src="emptypageicon.svg"
            alt="emptyPageIcon"
            style="width: 100px; height: 100px; margin: 20vh auto auto"
          />
          <p class="emptyPgContent">
            There isn't enough data to power this graph for the given period
          </p>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    var app = new Vue({
      el: "#app",
      data() {
        return {
          response: null,
          isShowEmptyPage: false,
          appResponse:null,
          isShowChart: true,
          loading: true,
          myChart: null,
          daysOfMonthLabel: [
            "01",
            "02",
            "03",
            "04",
            "05",
            "06",
            "07",
            "08",
            "09",
            "10",
            "11",
            "12",
            "13",
            "14",
            "15",
            "16",
            "17",
            "18",
            "19",
            "20",
            "21",
            "22",
            "23",
            "24",
            "25",
            "26",
            "27",
            "28",
            "29",
            "30",
            "31",
          ],
          monthLabel: [
            "01",
            "02",
            "03",
            "04",
            "05",
            "06",
            "07",
            "08",
            "09",
            "10",
            "11",
            "12",
          ],
          config: {
            data: {
              labels: null,
              datasets: [
                {
                  data: null,
                  barPercentage: 0.75,
                  backgroundColor: "#00365F",
                  hoverBackgroundColor: "#406887",
                },
              ],
            },
            type: "bar",
            plugins: [ChartDataLabels],
            options: {
              maintainAspectRatio: false,

              plugins: {
                title: {
                  display: true,
                },
                tooltip: {
                  displayColors: false,
                  bodySpacing: 6,
                  bodyFont: {
                    size: 14,
                  },
                  callbacks: {
                    title: function (data) {},
                    beforeLabel: function (data) {
                      return "Arrival Time: " + data.label;
                    },
                    label: function (data) {
                      return "Number of Occupants(Avg): " + data.raw;
                    },
                    labelTextColor: function (data) {
                      return "#979797";
                    },
                  },
                  backgroundColor: "white",
                  borderColor: "#979797",
                  borderWidth: "1",
                  caretSize: 6,
                  padding: 15,
                },
                datalabels: {
                  anchor: "end",
                  align: "top",
                  color: "#00365F",
                },
                legend: {
                  display: false,
                },
              },
              scales: {
                x: {
                  title:{ 
                    padding:{ 
                      top:15
                    },
                    display:true,
                    text:"Arrival Time",
                    color:"black",
                    font:{ 
                      size:12
                    }
                  },
                  grid: {
                    display: false,
                  },
                  ticks: {
                    color: "black",
                  },
                },
                y: {
                  title:{ 
                    padding:{ 
                      bottom:15
                    },
                    display:true,
                    text:"Number of Occupants(Avg)",
                    color:"black",
                    font:{ 
                      size:12
                    }
                  },
                  grid: {
                    borderDash: [2, 3],
                    borderColor: "white",
                  },
                  ticks: {
                    count: 5,
                    color: "black",
                  },
                },
              },
            },
          },

          option: {
            method: "put",
            data: {
              reportId: 568,
            },
          },
          optionNew: {
            method: "put",
            data: {
              reportId: 568,
            },
          },
        };
      },

      async mounted() {
        function average(res) {
          //finding the count of days or date or hour between the given range

          var start, filter, operatorId, startDate, endDate;
          start = res.data.report.dateRange.startTime;
          end = res.data.report.dateRange.endTime;
          filter = res.data.report.xAggrEnum;
          operatorId = res.data.report.dateOperator;
          startDate = new Date(start);
          endDate = new Date(end);

          var daysCount = [];
          for (let i = 0; i <= 6; i++) {
            daysCount[i] = 0;
          }

          var datesCount = [];
          for (let i = 1; i <= 31; i++) {
            datesCount[i] = 0;
          }

          var hoursCount = [];
          if (filter == "WEEKDAY" || filter == "DAYSOFMONTH") {
            while (startDate <= endDate) {
              if (filter == "WEEKDAY") {
                daysCount[startDate.getDay()] += 1;
              } else if (filter == "DAYSOFMONTH") {
                datesCount[startDate.getDate()] += 1;
              }
              startDate.setDate(startDate.getDate() + 1);
            }
          } else if (filter == "HOURSOFDAY") {
            if (operatorId == 46 || operatorId == 47 || operatorId == 48) {
              var lastFullDay = new Date(endDate);
              lastFullDay.setDate(endDate.getDate() - 1);
              var millisec = lastFullDay.getTime() - startDate.getTime();
              var noOfHours = Math.ceil(
                millisechoursCount / (24 * 60 * 60 * 1000)
              );

              for (let i = 0; i <= 23; i++) {
                hoursCount[i] = noOfHours;
              }
              for (let i = 0; i <= endDate.getHours(); i++) {
                hoursCount[i] += 1;
              }
            } else {
              var millisec = endDate.getTime() - startDate.getTime();
              var noOfHours = Math.ceil(millisec / (24 * 60 * 60 * 1000));
              for (let i = 0; i <= 23; i++) {
                hoursCount[i] = noOfHours;
              }
            }
          }

          //finding the average value

          var data = res.data.reportData.data;
          function roundoff(num) {
            if (!Number.isInteger(num)) {
              return num.toFixed(2);
            } else {
              return num;
            }
          }

          if (filter == "WEEKDAY") {
            var avgWeekDays = ["", "", "", "", "", "", ""];
            var weekDaysLabel = [
              "Mon",
              "Tue",
              "Wed",
              "Thu",
              "Fri",
              "Sat",
              "Sun",
            ];
            for (let i = 0; i < data.length; i++) {
              tempDate = new Date(data[i].X);
              avgWeekDays[tempDate.getDay()] = Math.round(
                data[i].Id / daysCount[tempDate.getDay()]
              );
            }

            let firstWeekDay = avgWeekDays.shift();
            avgWeekDays.push(firstWeekDay);
            return [avgWeekDays, weekDaysLabel];
          } else if (filter == "DAYSOFMONTH") {
            var daysOfMonth = [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31",
            ];
            var avgDaysOfMonth = [];
            for (let i = 0; i < data.length; i++) {
              tempDate = new Date(data[i].X);

              avgDaysOfMonth[tempDate.getDate() - 1] = Math.round(
                data[i].Id / datesCount[tempDate.getDate()]
              );
            }
            return [avgDaysOfMonth, daysOfMonth];
          } else if (filter == "HOURSOFDAY") {
            var avgHoursOfDay = [];
            var hoursOfDayLabel = [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
            ];
            for (let i = 0; i < data.length; i++) {
               tempDate= moment(data[i].X).tz('Europe/London');
              avgHoursOfDay[tempDate.hours()] = Math.round(
                data[i].Id / hoursCount[Math.round(tempDate.hours())]
              );
            }
            return [avgHoursOfDay, hoursOfDayLabel];
          }
        }

        window.facilioApp = FacilioAppSDK.init();
        
        let self =this;
       window.facilioApp.on("app.loaded", (dataApp) => {
           self.appResponse = dataApp;
           if(self.appResponse.context.dashboardFilter.timelineFilter!=null){
           self.option.data.startTime=self.appResponse.context.dashboardFilter.timelineFilter.startTime;
           self.option.data.endTime=self.appResponse.context.dashboardFilter.timelineFilter.endTime;
          }
        window.facilioApp.request
          .invokeFacilioAPI("/v3/report/execute", self.option)
          .then((res) => {
            this.loading = false;
            if (res.data.reportData.data.length == 0) {
              this.isShowEmptyPage = true;         
            } else {
              this.isShowChart = false;
              this.response = average(res);
              this.config.data.labels = this.response[1];
              this.config.data.datasets[0].data = this.response[0];
              this.myChart = new Chart(
                document.getElementById("Chart"),
                this.config
              );
            }

            window.facilioApp.on("db.filters.changed", (data) => {
              this.loading = true;
              this.isShowChart = true;
              this.isShowEmptyPage = false;
              this.optionNew.data.startTime =
                data.dashboardFilter.timelineFilter.startTime;
              this.optionNew.data.endTime =
                data.dashboardFilter.timelineFilter.endTime;

              window.facilioApp.request
                .invokeFacilioAPI("/v3/report/execute", this.optionNew)
                .then((res) => {
                  this.loading = false;
                  if (res.data.reportData.data.length == 0) {
                    this.isShowEmptyPage = true;
                  } else {
                    if (this.myChart == null) {
                      this.isShowChart = false;

                      this.response = average(res);
                      this.config.data.labels = this.response[1];
                      this.config.data.datasets[0].data = this.response[0];

                      this.myChart = new Chart(
                        document.getElementById("Chart"),
                        this.config
                      );
                    } else {
                      this.isShowChart = false;
                      this.response = average(res);
                      this.myChart.data.datasets[0].data = this.response[0];
                      this.myChart.data.labels = this.response[1];
                      this.myChart.update();
                    }
                  }
                });
            });
          });
        }
        );
      },
    });
  </script>
</html>
